<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
  <appSettings>
    <add key="Port" value="502"/>
    <add key="DetectorID" value="1"/>
    <add key="ServerAddress" value="115.159.29.49"/>
  </appSettings>
</configuration>
 